/* Шрифты */


/* Обнуление */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {

}

html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

/* Общие стили страницы */

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1;
}
header {

}

main {
	flex: 1 1 auto;
}

/* Волшебные собаки */

[class*="__container"] {
	max-width: 1020px;
	margin: 0px auto;
	box-sizing: content-box;
	padding: 0 15px;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
}
.header__container {
}
.header__body {
	position: relative;
	display: flex;
	flex-direction: column;
}
.header__info {
	display: flex;
	column-gap: 30px;
	padding: 26px 0 28px 0;
	justify-content: space-between;
}
.header__connect {
	flex: 0 1 300px;
}
.header__logo {
	font-size: 22px;
	font-weight: 700;
	position: relative;
	padding: 0 0 0 50px;
	color: #FFFFFF;
}
.header__logo::before {
	content: "";
	position: absolute;
	top: -10px;
	left: 0;
	background: url("../img/logo.svg") 0 0 no-repeat;
	width: 40px;
	height: 41px;
}

.header__hours,
.header__phone {
	color: #FFFFFF;
	font-size: 12px;
	line-height: 22px;
	letter-spacing: 0.15px;
	position: relative;
	padding: 0 0 0 40px;
}
.header__hours::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: url("../img/time.svg") 0 0 no-repeat;
	width: 40px;
	height: 41px;
}
.header__phone::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	background: url("../img/smart.svg") 0 0 no-repeat;
	width: 40px;
	height: 41px;
}
.header__name {
	text-transform: uppercase;
}
.header__content {
	font-size: 12px;
	line-height: 22px;
}
.header__phone {}
.header__button {
	font-size: 12px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 0.15px;
	background-color: #F2726F;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 10px;
	color: #fff;
	display: inline-block;
	padding: 8px 22px;
}
.header__menu {
	display: flex;
	border-radius: 10px;
	background-color: #fff;
	border-radius: 10px;
	padding: 20px 0;
	justify-content: space-between;
}

.menu {}
.menu__icon {}
.menu__body {}
.menu__list {
	display: flex;
}
.menu__list > li {
	position: relative;
	margin: 0px 0px 0px 35px;
	list-style: none;
	color: #000;
}
.menu__link {
	font-size: 14px;
	color: #000;
	line-height: 157%;
	letter-spacing: 0.15px;
	transition: all 0.2s ease 0s;
}
.menu__link:hover {
	color: #F2726F;
}

.menu__sub-list {
	position: absolute;
	top: 100%;
	right: 0;
	background-color: #fff;
	padding: 15px;
}
.menu__sub-list li {
	margin: 0px 0px 10px 0px;
}
.menu__sub-list li:last-child {
	margin: 0;
}
.header__items {
	padding: 0 20px 0 0;
	display: flex;
	column-gap: 20px;
}


.gradient {
	background: linear-gradient(to left, #F5F5F5 85%, #fff 85%);
}
.link:focus,
.services__button:focus,
.awesome:focus,
.footer-link:focus {
	outline: none;
	box-shadow: 0 0 0 3px lightskyblue;
	border: none;
}

.intro {
	background: url("../img/intro.jpg") 0 0 / 100% 100% no-repeat;
}

.intro__container {
	display: flex;
	flex-direction: column;
}

.intro__title {
	font-weight: 900;
	font-size: 56px;
	line-height: 100%;
	color: #ffffff;
	max-width: 590px;
}
.intro__container:first-child {
	padding-top: 280px;
}
.intro__container *:not(:last-child) {
	padding-bottom: 43px;
}
.intro__container:last-child {
	padding-bottom: 350px;
}
.intro__link {
}
.intro__connect {
	filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
}

.eyes {
	padding: 0 0 0px 0;
}
.eyes__container {
	max-width: 1020px;
	margin: 0 auto;
	background: #5D62B5;
	border-radius: 20px;
	position: relative;
	transform: translate(0px, -80px);
}
.eyes__block {
	padding: 0 8.53%;
}

.eyes__container::before {
	content: "";
	background: url("../img/pointdog.svg") 0 0 no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: block;
	transform: translate(88%, -15%);
	top: 0;
	left: 0;
}
.eyes__block:first-child {
	padding-top: 100px;
}
.eyes__block *:not(:last-child) {
	margin-bottom: 33px;
}
.eyes__block:last-child {
	padding-bottom: 354px;
}

.eyes__title {
	font-size: 12px;
	font-weight: 700;
	line-height: 200%;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #F5F5F5;
	padding: 0 0 0 35px;
	position: relative;
	max-width: 450px;
}
.eyes__title::before {
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	top: -2px;
	left: 0;
	background: url("../img/mark.svg");
}
.eyes__subtitle {
	font-weight: 900;
	font-size: 36px;
	line-height: 117%;
	color: #FFFFFF;
	max-width: 590px;
}
.eyes__text {
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.15px;
	color: #F5F5F5;
	max-width: 850px;
}

.view {

}
.view__container {
	max-width: 1020px;
}
.view__content {
	display: flex;
	align-items: center;
	transform: translate(0px, -0px);
	margin-top: -380px;

	z-index: 2;
	flex-direction: column;
	padding-bottom: 110px;

}
.view__item {
	position: relative;
	padding: 0px 0px 49px 0px;
}
.view__img {
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	border-radius: 20px;
	position: relative;
	transition: all 0.3s ease 0s;
}
.view__img:hover {
	transform: scale(1.12);
}

.view__content::before {
	content: "";
	background: url("../img/dogbloblue.svg") 0 0 no-repeat;
	position: absolute;
	bottom: 46%;
	right: 30%;
	width: 110%;
	height: 100%;
	z-index: 0;
	transform: translate(40%, 36%);
}

.promise {
	padding-bottom: 112px;
	position: relative;
	z-index: 2;
}
.promice__container {
	max-width: 1020px;
	margin: 0 auto;
}
.promise__header {
	margin: 0 0 68px 0;
}
.promise__items {
	display: flex;
	flex-wrap: wrap;
}

.titles *:not(:last-child) {
	margin: 0 0 30px 0;
}
.titles__label {
	color: #5d62b5;
	font-size: 12px;
	line-height: 2;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 700;
	padding: 0 0 0 35px;
	position: relative;
}
.titles__label::before {
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	top: -2px;
	left: 0;
	background: url("../img/icon.svg");
}

.titles__label_white {
	color: #fff;
}
.titles__label_white::before {
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	top: -2px;
	left: 0;
	background: url("../img/mark.svg");
}

.titles__item {
	color: #000;
	font-size: 36px;
	line-height: 42px;
	font-weight: 900;
}
.titles__item_white {
	color: #fff;
}

.promise__items {
	display: flex;
	margin: 0 -12px;
}
.promise__item {
	flex: 0 1 33.333%;
	padding: 0 12px;
}
.item-promise {
	display: flex;
	align-items: flex-start;
	column-gap: 23px;
}
.item-promise__icon {
	flex: 0 0 63px;
}
.item-promise__title:not(:last-child) {
	margin: 0 0 20px 0;
}



.ball {
	background-color: #29C3BE;
	position: relative;
	z-index: 2;
}


.ball::before {
	content: "";
	background: url("../img/pointdog.svg") 0 0 no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: block;
	transform: translate(1%, 17%);
	top: 0;
	right: 0
}
.ball::after {
	content: "";
	background: url("../img/blobpup.svg") 0 0 no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: block;
	transform: translate(-2%, 0%);
	top: 0;
	right: 0
}




.ball__container {
}
.ball__items {
}
.items-ball {
	display: flex;
	justify-content: space-between;
	column-gap: 10px;
	align-items: flex-start;
	min-height: 500px;
}
.items-ball__pictures {
	margin: 0 0 -0.2% -27%;
	align-self: flex-end;
	position: relative;
	z-index: 2;
}
.items-ball__content {
	flex: 0 1 420px;
	position: relative;
	z-index: 5;

}
.items-ball__content:last-child {

}
.items-ball__content *:not(:last-child) {
	margin: 0 0 0px 0;
}
.items-ball__content:first-child {
	padding: 0px 0 0 0;
}
.items-ball__item {
	display: flex;
	flex-direction: column;
	row-gap: 50px;
}
.items-ball__item:first-child {
	padding: 100px 0 0 0;
}
.items-ball__item:first-child {
	padding-bottom: 100px;
}

.items-ball {
	position: relative;
}

.items-ball::before {
	content: "";
	background: url("../img/line.svg") 0 0 no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: block;
	transform: translate(52%, 0%);
	top: 0;
	right: 0
}
.items-ball::after {
	content: "";
	background: url("../img/tennis.svg") 0 0 no-repeat;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: block;
	transform: translate(101%, 18%);
	top: 0;
	right: 0
}


.items-ball__text {
	font-size: 36px;
	font-weight: 900;
	line-height: 117%;
	color: #FFFFFF;
}
.items-ball__connect {}
.link {}

.services {
	padding-bottom: 110px;
	position: relative;
	z-index: 1;
}
.services::before {
	content: "";
	background: url("../img/blobgrey.png") 0 0 / 32% auto no-repeat;
	position: absolute;
	width: 120%;
	height: 132%;
	z-index: 0;
	display: block;
	transform:translate(15%, 10%);
	top: -70%;
	left: 45%;
}
.services__container {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 0;
	padding: 110px 0 0 0;
}


.services__header {
	margin: 0 0 74px 0;
}
.services__items {
	display: flex;
	row-gap: 24px;
	margin: 0 -12px;
	flex-wrap: wrap;
}
.services__items:not(:last-child) {
	margin: 0 0 66px 0;
}
.services__item {
	flex: 1 1 33.333%;
	padding: 0 12px;
	transition: all 0.2s ease 0s;
}
.services__item:hover {
	filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24));
}
.item-services {
	background-color: #ffffff;
	border-radius: 20px;
	padding: 50px 44px;
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	height: 100%;
}
.item-sevices__icon {
	flex: 0 0 63px;
	width: 63px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.item-sevices__icon img {
	max-width: 100%;
	max-height: 63px;
}
.item-sevices__icon:not(:last-child) {
	margin: 0 0 33px 0;
}
.item-services__title:not(:last-child) {
	margin: 0 0 20px 0;
}
.item-services__text {}
.services__button {
	align-self: center;
	background-color: #f2726f;
	border-radius: 8px;
	text-align: center;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 2;
	padding: 12px 28px;
	margin: 66px 0 0 0;
	transition: background 0.5s ease 0s, color 0.5s ease 0s, box-shadow 0.1s ease 0s;
}
.services__button:hover {
	background: #fff;
	color: #F2726F;
}
.services__button:active {
	box-shadow: 0px 0px 10px 8px #AAAAFF;
}
.item-title {
	font-weight: 900;
	font-size: 19px;
	line-height: 1.37;
	color: #f2726f;
}
.item-text {
	line-height: 1.5;
}
.pack {
	background: url("../img/pack.jpg") 0 0 / 100% 105% no-repeat;
	position: relative;
}
.pack::before {
	content: "";
	background: url("../img/points.svg") 0 0 no-repeat;
	position: absolute;
	top: 24%;
	left: 17%;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: block;
}
.pack__container {
	position: relative;
}
.pack__items {
	display: flex;
	flex-wrap: wrap;
	column-gap: 101px;
	padding: 130px 0 210px 0;
}
.pack__form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.form-pack {
	padding: 0px 57px 76px 57px;
	background: #5D62B5;
	border-radius: 40px;
	max-width: 585px;
	position: relative;
	z-index: 2;


}
.pack__container::before {
	content: "";
	background: url("../img/blobpack.svg") 0 0 / 100% auto no-repeat;
	position: absolute;
	top: 1%;
	left: -17%;
	width: 83%;
	height: 100%;
	z-index: 1;
	display: block;
}

.form-pack__title {
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	color: #FFFFFF;
	padding: 76px 0 43px 0;
}
.form-pack__info {
}
.form-pack__item {
	display: flex;
	flex-wrap: wrap;
	row-gap: 22px;
	column-gap: 22px;
	justify-content: flex-end;
}
.form-pack__data {
	width: 224px;
	height: 48px;
	opacity: 0.8;
	background: #5D62B5;
	border-radius: 10px;
	border: 2px solid #ffffff;
	color: #fff;
	padding: 0px 20px;
	font-size: 16px;
}
.form-pack__data::placeholder,
.form-pack__field::placeholder {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #FFFFFF;
	transition: all 0.3s ease 0s;
}
.form-pack__data:focus::placeholder,
.form-pack__field:focus::placeholder {
	transform: translate(-100%, 0px);
	opacity: 0;
}
.form-pack__data:focus,
.form-pack__field:focus {
	outline: none;
	box-shadow: 0 0 0 3px lightskyblue;
	border: none;
}
.form-pack__field {
	width: 100%;
	min-height: 180px;
	border-radius: 10px;
	border: 2px solid #ffffff;
	padding: 15px;
	resize: vertical;
	background: #5D62B5;
	opacity: 0.8;
	font-size: 16px;
}
.form-pack__link {}
.form-pack__connect {
	cursor: pointer;
	margin-top: 6px;
	align-self: flex-start;
}
.link {}
.pack__text {
	flex: 0 1 334px;
}
.text-pack {
	color: #ffffff;
	font-weight: 900;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 46px;
}
.text-pack:first-child {
	padding-top: 160px;
}
.text-pack__title {
	font-size: 30px;
	line-height: 1.2;
	text-align: center;
}
.text-pack__number {
	font-size: 96px;
	line-height: 58%;
	flex: 1 1 auto;
}
.text-pack__bottom {
	font-size: 19px;
	line-height: 137%;
}
.form-pack__block {
	flex: 0 1 224px;
}



.swim {
	position: relative;
	z-index: 5;
}
.gradient {}
.swim__container {
	background: #5D62B5;
	border-radius: 20px;
	position: relative;
	transform: translate(0px, -80px);
}

.swim__gallery {
	padding: 0 87px 0 87px;
}

.swim__gallery:first-child {
	padding-top: 100px;
}
.swim__gallery > *:not(:last-child) {
	margin-bottom: 33px;
}
.gallery-swim {
	padding: 0 87px 410px 87px;
}





.gallery-swim__title {}
.gallery-swim__subtitle {}
.gallery-swim__menu {
	display: flex;
	padding: 22px 0 15px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);

}
.gallery-swim__chek {
	flex: 0 1 25%;
	text-align: center;
}
.gallery-swim__connect {
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.15px;
	color: #FFFFFF;
}


.swim-dogs {}
.swim-dogs__container {
	display: flex;
	align-items: center;
	transform: translate(0px, -0px);
	margin-top: -440px;
	z-index: 2;
	flex-direction: column;
	padding-bottom: 110px;
}

.swim-dogs__item {}
.swim-dogs__img {
	border-radius: 20px;
}


.comment {}
.gradient {}
.comment__container {}
.comment__items {}
.items-comment {
	display: flex;
	column-gap: 24px;
	padding: 0 0 250px 0;
}
.items-comment__item {
	flex: 0 1 33.333%;
}


.items-comment__customers {
	color: #5d62b5;
	font-size: 12px;
	line-height: 2;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 700;
	padding: 0 0 0 35px;
	position: relative;
}

.items-comment__customers::before {
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	top: -2px;
	left: 0;
	background: url("../img/icon.svg");
}



.items-comment__title {}
.items-comment__title *:not(:last-child) {
	padding-bottom: 33px;
}



.items-comment__text {
	font-weight: 900;
	font-size: 36px;
	line-height: 117%;
	color: #000000;
}
.item-flex {
	display: flex;
}
.items-comment__people {
	display: flex;
	flex-direction: column;
	background: #FFFFFF;
	border-radius: 20px;
	padding: 50px 44px 40px 43px;
	row-gap: 30px;

}
.items-comment__opinion {
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.15px;
	color: #4B4B4B;
	flex: 1 1 auto;
}

.items-comment__avatar {
	display: flex;
	column-gap: 15px;
}
.items-comment__photo {
	align-self: flex-start;
	flex: 0 1 50px;
	height: 100%;
}
.items-comment__name {
	display: flex;
	align-items: center;
	font-weight: 700;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.15px;
	color: #F2726F;
}







.impact {
	background-color: #2AB1AD;
	padding: 0px 0 212px 0;

}
.impact__container {
	position: relative;
}
.impact__container::before {
	content: "";
	background: url("../img/blob.png") 0 0 / 100% no-repeat;
	top: 0;
	right: 50%;
	transform: translate(88%, 0px);
	position: absolute;
	width: 68%;
	height: 308px;
	display: block;
}
.impact__body {
	display: flex;
	margin: 0 -15px;
	position: relative;
}
.impact__body:not(:last-child) {
	margin-bottom: 80px;
}
.impact__content {
	padding: 20px 15px 0px 15px;
	flex: 0 1 50%;
	align-self: flex-end;
}
.impact__header {
	max-width: 420px;
}
.impact__image {
	padding: 0 15px;
	flex: 0 1 50%;
	margin: -7.61% 0 0 0;
}
.impact__image img {
	max-width: 100%;
	border-radius: 40px;
}
.impact__items {
	display: flex;
	margin: 0 -12px;
	row-gap: 24px;
	flex-wrap: wrap;
	align-items: flex-start;
}
.impact__item {
	padding: 0 12px;
	flex: 0 1 25%;
	min-width: 260px;
}
.item-impact {
	display: flex;
	column-gap: 11px;
	align-items: center;
}
.item-impact__icon {
	flex: 0 0 76px;
}
.item-impact__value {
	font-weight: 900;
	font-size: 36px;
	line-height: 1.17;
	color: #fff;
}
.item-impact__value:not(:last-child) {
	margin: 0 0 3px 0;
}
.item-impact__text {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.15px;
	color: #5d62b5;
}
.break {
	position: relative;
}
.break__container {
	max-width: 1020px;
	border-radius: 20px;
	background: #5D62B5;
	padding: 43px 70px;
	position: absolute;
	top: -75px;
	left: 23%;
}
.break__items {
	display: flex;
	flex-wrap: wrap;
	max-width: 874px;
	justify-content: space-between;
}
.break__text {
	font-weight: 900;
	font-size: 24px;
	line-height: 30px;
	color: #FFFFFF;
	flex: 0 1 562px;
}
.break__link {
	padding: 10px 6px 0 6px;
}
.link {
	font-weight: 400;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	background-color: #F2726F;
	border-radius: 10px;
	color: #fff;
	display: inline-block;
	padding: 14px 34px;
	max-width: 300px;
	transition: background 0.5s ease 0s, color 0.5s ease 0s, box-shadow 0.1s ease 0s;
}
.link:hover {
	background: #fff;
	color: #F2726F;
}
.link:active {
	box-shadow: 0px 0px 10px 8px #AAAAFF;
}
footer {
	padding: 200px 0 0px 0;
	background: linear-gradient(to left, #F5F5F5 85%, #fff 85%);
}
.footer__container {}
.footer__items {
	display: flex;
	flex-direction: column;
}
.footer__info {
	display: flex;
	justify-content: space-between;
	color: #4B4B4B;
	flex-wrap: wrap;
	padding-bottom: 121px;
	position: relative;
}
.footer__item {
	display: flex;
	flex-direction: column;
	flex: 0 1 260px;
}
.footer__logo {
	font-size: 22px;
	font-weight: 700;
	position: relative;
	padding: 0 0 0 50px;
}
.footer__logo::before {
	content: "";
	position: absolute;
	top: -10px;
	left: 0;
	background: url("../img/vector.svg") 0 0 no-repeat;
	width: 40px;
	height: 40px;
}
.footer__text {
	line-height: 22px;
	letter-spacing: 0.15px;
}
.footer__item *:not(:last-child) {
	padding-bottom: 23px;
}
.footer__icon {
	padding: 10px 0 0 0;
}
.links-footer {
	font-weight: 700;
	line-height: 22px;
	letter-spacing: 0.15px;
}
.links-footer__title {
	padding: 0 0 28px 0;
}
.hidden {
	visibility: hidden;
}
.footer-link {
	display: block;
	text-decoration: none;
	color: #4B4B4B;
	transition: all 0.2s ease 0s;
}
.footer-link:not(:last-child) {
	margin: 0 0 11px 0;
}
.footer-link:hover {
	color: #F2726F;
}
.footer__contact {
	flex: 0 1 237px;
}
.contact-footer__title {
	padding: 0 0 28px 0;
}
.contact-footer__text {
	line-height: 20px;
	position: relative;
	padding-left: 34px;
}
.contact-footer__text:not(:last-child) {
	padding-bottom: 17px;
}
.info-title {
	font-weight: 700;
	line-height: 22px;
}
.item-geo::before {
	content: "";
	background: url("../img/geo.svg") 0 0 no-repeat;
	position: absolute;
	top: 2px;
	left: 0;
	width: 16px;
	height: 16px;
}
.item-tel::before {
	content: "";
	background: url("../img/tel.svg") 0 0 no-repeat;
	position: absolute;
	top: 2px;
	left: 2px;
	width: 16px;
	height: 16px;
}
.item-mail::before {
	content: "";
	background: url("../img/mail.svg") 0 0 no-repeat;
	position: absolute;
	top: 4px;
	left: 0;
	width: 16px;
	height: 16px;
}
.item-clock::before {
	content: "";
	background: url("../img/clock.svg") 0 0 no-repeat;
	position: absolute;
	top: 4px;
	left: 0;
	width: 16px;
	height: 16px;
}
.awesome {
	text-decoration: none;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	color: #F2726F;
	font-size: 18px;
	transform: scale(2.0);
}
.awesome:not(:first-child) {
	margin: 0 0 0 18px;
}
.awesome:hover {
	transform: scale(2.0);
}
.fab {
	transition: all 0.2s ease 0s;
}
.fab:hover {
	transform: scale(1.5);
}
.footer__under {
	background: #5D62B5;
}
.footer__block {
	display: flex;
	flex-wrap: wrap;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: 0.15px;
	color: #FFFFFF;
	padding: 23px 0 18px 0;
	margin: 0 -50px;
	justify-content: space-between;
}
.under-footer__text {
	flex: 0 1 500px;
}
.under-footer__company {

}
.under-footer__privacy {
	font-weight: 700;
}
.under-footer__company span:not(:first-child) {
	padding-left: 6px;
}
.footer__text {
	font-size: 14px;
	line-height: 157%;
}




